# EDA para limpieza de datos

In [33]:
#importar librerias de manipulacion de datos
import numpy as np
import pandas as pd

# importar librerias del sistema
import os
from pathlib import Path

root_dir = Path(".").resolve().parent #como capturar la direccion de la informacion 
print("root_dir:", root_dir)

filename="llamadas123_julio_2022.csv"
data_dir="raw"

file_path=os.path.join(root_dir,"data", data_dir, filename)

data=pd.read_csv(file_path, encoding="latin-1", sep=";")

root_dir: C:\Users\alexandra.maldonado\Documents\ALEXANDRA\ALEXA M\PERSONAL\BIG DATA\LENGUAJES Y HERRAMIENTAS\BIG DATA

In [34]:
data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

# Registros duplicados

In [35]:
print("forma incial", data.shape)

data=data.drop_duplicates() # elimina los registros duplicados dejando solo el primer registro 

print("forma final", data.shape)

forma incial (13055, 11)
forma final (13026, 11)

In [36]:
# esquema de la tabla 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [37]:
data["UNIDAD"].value_counts(dropna=False) #realiza el conteo de los diferentes valores

A¤os        6781
SIN_DATO    6187
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [38]:
# reemplace en la columna unidad los nulos por SIN_DATO

data["UNIDAD"].fillna("SIN_DATO").value_counts(dropna=False, normalize=False) #realiza un conteo de los diferentes valores

A¤os        6781
SIN_DATO    6195
Meses         39
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [39]:
data["UNIDAD"]=data["UNIDAD"].fillna("SIN_DATO") 
# sobreescribo la columna unidad que tenia valores nulos por una columna nueva sin nulos

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13026 non-null  object
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.2+ MB

In [41]:
# Manipulaicon de fechas (datetime)

col="FECHA_INICIO_DESPLAZAMIENTO_MOVIL"
data[col].max()

'2022-08-08 11:23:01'

In [42]:
# Aplicar filtros
val_min=data[col].min()
data[data[col] == val_min] #aplico filtro

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [43]:
data[data[col] != val_min]# aplico el filtro pero el != es diferente a XXX, es el operador diferencia

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...
13049,CRU-00314021-22,2022-08-02 03:25:08,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48
13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00
13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13
13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00

In [44]:
# Formato de fechas (datetime)

data[col]=pd.to_datetime(data[col], errors="coerce")

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13026 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [46]:
data["RECEPCION"]

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [47]:
# Aplicar filtros
val_min=data[col].min()
data[data[col] == val_min] #aplico filtro

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13

In [48]:
from dateutil.parser import parse
parse("08/02/2021")

# pd.to_datetime(data["RECEPCION"], errors="coerce", format="%Y-%m-%d %H:%M:%S")

datetime.datetime(2021, 8, 2, 0, 0)

In [49]:
parse("08-may-2021 5:30 pm")

datetime.datetime(2021, 5, 8, 17, 30)

In [50]:
# una funcion que reciba un string, con fechas y regrese un valor de datetime usando parse
def convertir_formato_fecha(str_fecha):
    val_datetime=parse(str_fecha, dayfirst=False)
    return val_datetime

In [51]:
data=data.reset_index()

In [52]:
lista_fechas=list()
n_filas=data.shape[0] #len(data[RECEPCION])
#n_filas=len(data["RECEPCION"])
for i in range(0, n_filas):

    str_fecha=data["RECEPCION"][i]
    
    try: #tráte de hacerlo o sino haga algo
        val_datetime=convertir_formato_fecha(str_fecha=str_fecha)
        lista_fechas.append(val_datetime)
    except Exception as e:
        #print(i, e)
        lista_fechas.append(str_fecha)
        continue

In [53]:
lista_fechas

[datetime.datetime(2022, 7, 1, 3, 40, 13),
 datetime.datetime(2022, 7, 1, 3, 38, 13),
 datetime.datetime(2022, 7, 1, 4, 8, 24),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 3, 25, 29),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 4, 17, 41),
 datetime.datetime(2022, 7, 1, 5, 7),
 datetime.datetime(2022, 7, 1, 2, 37, 45),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 3, 6, 49),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 4, 30, 19),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 5, 25, 29),
 datetime.datetime(2022, 7, 1, 4, 19, 7),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 4, 39, 52),
 datetime.datetime(2022, 7, 1, 4, 35, 58),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 5, 47, 45),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 6, 1, 48),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 6, 53, 5),
 datetime.datetime(2022, 7, 1, 5, 43, 11),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 5, 35, 4),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 6, 16, 3),
 datetime.datetime(2022, 7, 1, 7, 59, 43),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 6, 45, 32),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 8, 8, 25),
 datetime.datetime(2022, 7, 1, 9, 31, 27),
 datetime.datetime(2022, 7, 1, 8, 31, 14),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 8, 21, 23),
 datetime.datetime(2022, 7, 1, 7, 16, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 7, 22, 46),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 8, 53, 12),
 datetime.datetime(2022, 7, 1, 8, 42, 28),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 7, 35, 14),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 10, 2, 28),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 8, 52),
 datetime.datetime(2022, 7, 1, 9, 38, 50),
 datetime.datetime(2022, 7, 1, 10, 35, 19),
 datetime.datetime(2022, 7, 1, 8, 59, 7),
 datetime.datetime(2022, 7, 1, 10, 34, 11),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 10, 6, 51),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 35, 5),
 datetime.datetime(2022, 7, 1, 11, 24, 47),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 49, 49),
 datetime.datetime(2022, 7, 1, 12, 32, 29),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 10, 11, 16),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 22, 7),
 datetime.datetime(2022, 7, 1, 10, 18, 38),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 10, 11, 16),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 10, 11),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 55, 54),
 datetime.datetime(2022, 7, 1, 12, 58, 31),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 14, 48, 20),
 datetime.datetime(2022, 7, 1, 12, 52, 33),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 19, 39),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 12, 49, 28),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 12, 40, 16),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 2, 36),
 datetime.datetime(2022, 7, 1, 10, 11, 38),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 2, 7),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 11, 43, 14),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 4, 38),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 12, 30, 39),
 datetime.datetime(2022, 7, 1, 12, 51, 9),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 32, 40),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 9, 46),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 14, 8, 29),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 56, 23),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 33, 10),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 14, 12, 35),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 14, 34, 48),
 datetime.datetime(2022, 7, 1, 15, 12, 3),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 13, 29, 3),
 datetime.datetime(2022, 7, 1, 13, 47, 25),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 52, 21),
 datetime.datetime(2022, 7, 1, 15, 12, 50),
 datetime.datetime(2022, 7, 1, 15, 25, 48),
 datetime.datetime(2022, 7, 1, 13, 29, 3),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 14, 15, 50),
 datetime.datetime(2022, 7, 1, 13, 53, 8),
 datetime.datetime(2022, 7, 1, 16, 26, 31),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 37, 29),
 datetime.datetime(2022, 7, 1, 16, 5),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 32, 26),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 50, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 57, 19),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 34, 17),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 57, 52),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 37, 48),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 38),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 30, 42),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 15, 58, 26),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 44, 26),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 49, 3),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 19, 7, 40),
 datetime.datetime(2022, 7, 1, 17, 46, 28),
 datetime.datetime(2022, 7, 1, 17, 32, 55),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 10, 32),
 datetime.datetime(2022, 7, 1, 17, 25, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 16, 58, 1),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 45, 57),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 32, 39),
 datetime.datetime(2022, 7, 1, 18, 3, 7),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 48, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 9, 31),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 4, 34),
 datetime.datetime(2022, 7, 1, 19, 7, 46),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 39, 19),
 datetime.datetime(2022, 7, 1, 18, 2, 14),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 56, 33),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 18, 8, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 17, 42, 23),
 datetime.datetime(2022, 7, 1, 21, 57, 59),
 datetime.datetime(2022, 7, 1, 18, 36, 54),
 datetime.datetime(2022, 7, 1, 18, 44, 17),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 19, 6, 35),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 22, 16, 37),
 datetime.datetime(2022, 7, 1, 22, 14, 23),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 43, 38),
 datetime.datetime(2022, 7, 2, 0, 17, 29),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 46, 12),
 datetime.datetime(2022, 7, 1, 20, 54, 31),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 23, 43, 16),
 datetime.datetime(2022, 7, 1, 22, 5, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 12, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 42, 16),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 41, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 9, 28),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 45, 28),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 20, 2, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 21, 43),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 22, 33, 21),
 datetime.datetime(2022, 7, 1, 21, 32, 23),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 5, 26),
 datetime.datetime(2022, 7, 1, 22, 31, 10),
 datetime.datetime(2022, 7, 1, 23, 28, 15),
 datetime.datetime(2022, 7, 2, 0, 36, 6),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 22, 15, 48),
 datetime.datetime(2022, 7, 1, 22, 17, 50),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 21, 26, 42),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 22, 23, 40),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 53, 47),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 21, 48, 54),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 38, 29),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 21, 51, 30),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 1, 23, 29, 21),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 5, 47),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 0, 9),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 25, 29),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 42, 49),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 12, 11),
 datetime.datetime(2022, 7, 2, 1, 6, 24),
 datetime.datetime(2022, 7, 2, 2, 23, 39),
 datetime.datetime(2022, 7, 2, 1, 40, 13),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 21, 51),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 42, 26),
 datetime.datetime(2022, 7, 2, 0, 54, 13),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 32, 18),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 4, 8),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 44, 27),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 0, 5, 8),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 10, 18),
 datetime.datetime(2022, 7, 2, 1, 15, 12),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 9, 39),
 datetime.datetime(2022, 7, 2, 3, 21, 56),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 51, 33),
 datetime.datetime(2022, 7, 2, 0, 43, 50),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 20, 18),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 29, 4),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 3, 24, 20),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 1, 34, 12),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 2, 16, 18),
 datetime.datetime(2022, 7, 2, 4, 22, 20),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 3, 44, 55),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 3, 30, 42),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 4, 3, 31),
 datetime.datetime(2022, 7, 2, 4, 31, 51),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 5, 47, 5),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 4, 30, 22),
 datetime.datetime(2022, 7, 2, 4, 29, 15),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 4, 4, 55),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 5, 53, 39),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 5, 57, 15),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 5, 55, 15),
 datetime.datetime(2022, 7, 2, 6, 28, 48),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 6, 43, 19),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 6, 34, 55),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 7, 12, 43),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 6, 26, 56),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 7, 5, 13),
 datetime.datetime(2022, 7, 2, 7, 23, 48),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 7, 13, 48),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 10, 42, 19),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 9, 57, 16),
 datetime.datetime(2022, 7, 2, 10, 51, 32),
 datetime.datetime(2022, 7, 2, 10, 28, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 9, 55, 59),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 10, 13, 46),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 20, 48),
 datetime.datetime(2022, 7, 2, 10, 41, 39),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 10, 43, 54),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 10, 8, 17),
 datetime.datetime(2022, 7, 2, 10, 55, 59),
 datetime.datetime(2022, 7, 2, 10, 8, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 11, 44, 23),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 10, 49, 10),
 datetime.datetime(2022, 7, 2, 12, 22, 38),
 datetime.datetime(2022, 7, 2, 12, 28, 53),
 datetime.datetime(2022, 7, 2, 12, 33, 33),
 datetime.datetime(2022, 7, 2, 11, 5, 41),
 datetime.datetime(2022, 7, 2, 10, 22, 57),
 datetime.datetime(2022, 7, 2, 12, 36),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 12, 50, 19),
 datetime.datetime(2022, 7, 2, 12, 32, 11),
 datetime.datetime(2022, 7, 2, 12, 42, 37),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 9),
 datetime.datetime(2022, 7, 2, 14, 11, 43),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 52, 26),
 datetime.datetime(2022, 7, 2, 12, 23, 3),
 datetime.datetime(2022, 7, 2, 13, 46, 8),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 15, 46, 34),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 14, 23, 29),
 datetime.datetime(2022, 7, 2, 13, 29, 39),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 11, 54, 11),
 datetime.datetime(2022, 7, 2, 15, 30, 56),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 43),
 datetime.datetime(2022, 7, 2, 14, 56, 59),
 datetime.datetime(2022, 7, 2, 11, 31, 4),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 15, 47),
 datetime.datetime(2022, 7, 2, 13, 47, 20),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 15, 1, 22),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 31, 33),
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 15, 2, 35),
 '0000-00-00 00:00:00',
 datetime.datetime(2022, 7, 2, 13, 59, 36),

In [54]:
data["RECEPCION_CORREGIDA"]=lista_fechas

In [55]:
data

,index,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION,RECEPCION_CORREGIDA
0,0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13,2022-07-01 03:40:13
1,1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13,2022-07-01 03:38:13
2,2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24,2022-07-01 04:08:24
3,3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00,0000-00-00 00:00:00
4,4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29,2022-07-01 03:25:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13021,13050,CRU-00314021-22,2022-08-08 05:31:48,14,Los M rtires,18,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,8/08/2022 6:48,2022-08-08 06:48:00
13022,13051,CRU-00314021-22,2022-08-08 10:38:32,14,Los M rtires,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,0000-00-00 00:00:00
13023,13052,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,11,A¤os,MASCULINO,Centro Oriente,Acompa¤amiento Evento,BAJA,9/08/2022 13:13,2022-09-08 13:13:00
13024,13053,CRU-00314021-22,2022-08-08 11:23:01,10,Engativ,19,A¤os,FEMENINO,Centro Oriente,Acompa¤amiento Evento,BAJA,0000-00-00 00:00:00,0000-00-00 00:00:00
13025,13054,CRU-00312775-22,NaT,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00,0000-00-00 00:00:00

In [56]:
data["RECEPCION_CORREGIDA"]=pd.to_datetime(data["RECEPCION_CORREGIDA"], errors="coerce")

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               13026 non-null  object
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(2), object(9)
memory usage: 1.3+ MB

# Consistencia de los datos

In [58]:
data["EDAD"].value_counts(dropna=False)

SIN_DATO    6187
23           150
22           140
30           134
27           134
            ...
7             17
98            16
9             15
8             14
97            12
Name: EDAD, Length: 100, dtype: int64

In [59]:
# reemplazar sin dato con un valor nulo de tipo numerico
data["EDAD"].replace({"SIN_DATO":np.nan}).value_counts(dropna=False)

data["EDAD"]=data["EDAD"].replace({"SIN_DATO":np.nan})

In [60]:
#funcion Lambda

x=np.nan
f=lambda x: x if pd.isna(x) == True else int(x)
f(x)

nan

In [61]:
data ["EDAD"]=data["EDAD"].apply(f)

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13026 entries, 0 to 13025
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              13026 non-null  int64
 1   NUMERO_INCIDENTE                   13026 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 3   CODIGO_LOCALIDAD                   13026 non-null  int64
 4   LOCALIDAD                          13026 non-null  object
 5   EDAD                               6839 non-null   float64
 6   UNIDAD                             13026 non-null  object
 7   GENERO                             13026 non-null  object
 8   RED                                13026 non-null  object
 9   TIPO_INCIDENTE                     13026 non-null  object
 10  PRIORIDAD                          13026 non-null  object
 11  RECEPCION                          13026 non-null  object
 12  RECEPCION_CORREGIDA                5259 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(8)
memory usage: 1.3+ MB

In [63]:
word="BigData   "
print(word, word.lower(), word.upper(), word.lstrip() ) # Funcion para mayusculas y minusculas

BigData    bigdata    BIGDATA    BigData

In [64]:
data["LOCALIDAD"].apply(lambda x: x.strip()).value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64